.picture-explore {
    padding: 75px 0;

    .container {
        display: flex;
        justify-content: space-between;
    }

    background-color: $Bg-dark;

    h2 {
        @include Font-forum;
        color: #fff;
        font-size: 80px;
        line-height: 90px;
        letter-spacing: 5px;
        text-transform: uppercase;
    }

    hr {
        @include hr-rule-set;
        margin: 25px 0 75px 0;
    }
}

.picture-explore-container {
    max-width: 660px
}
.picture-explore-image{
    img{
        width: 100%;
        height: auto;
    }
}

.picture-explore-text {
    @include Font-roboto22;
    font-weight: 300;
    line-height: 38px;
    color: #fff;

    span {
        color: $Font-gold
    }
}

@media (max-width: 1024px) {
    .picture-explore {
        hr {
            margin: 20px 0 62px 0;
        }

        .container {
            flex-direction: column;
        }
    }

    .picture-explore-container {
        display: block;
        max-width: 100%;
        margin-right: 0;
    }
    .picture-explore-image{
        text-align: center;
    }

    .pictEx {
        display: none;
    }

    .picture-explore-text {
        font-size: 20px;
        line-height: 38px;
        gap: 0;
    }

    .picture-explore {
        h2 {
            font-size: 50px;
            line-height: 75px;
        }
        img{
            margin: 0 auto;
        }
    }
}

@media (max-width: $md) {
    .picture-explore {

        hr {
            margin: 20px 0 40px 0;
        }
        img{
            margin: 0;
            height: auto;
        }
    }

    .picture-explore-text {
        display: none;
    }

    .picture-explore {
        h2 {
            font-size: 40px;
            line-height: 60px;
        }

    }
}

@media (max-width: $sm) {
    .picture-explore {
        h2 {
            font-size: 28px;
            line-height: 40px;
        }
    }
}