.welcome {
    background-color: $Bg-dark;
    .container {        
        .welcome-text {
            left: 20px;
            display: flex;
            flex-direction: column;
            margin-top: 150px;

            h1 {
                @include Font-forum;
                font-size: 80px;
                line-height: 90px;
                color: #fff;
                text-transform: uppercase;
            }

            span {
                @include Font-roboto28;
                font-weight: 300;
                font-size: 28px;
                line-height: 33px;
                letter-spacing: 2px;
                color: #fff;
            }

            a {
                div {
                    @include Font-roboto22;
                    font-size: 24px;
                    line-height: 28px;
                    letter-spacing: 0.05em;
                    background-color: $Dark-red;
                    color: #fff;
                    text-align: center;

                }
            }
        }
    }
}