@mixin Font-forum {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

@mixin Font-roboto32 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    /* identical to box height */
}

@mixin Font-roboto28 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    /* identical to box height */
}

@mixin Font-roboto22 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    /* identical to box height */
}

@mixin Font-roboto18 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

@mixin hr-rule-set {
    height: 3px;
    background-color: $Dark-red;  
    border: none;  
}