@mixin Font-forum {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

@mixin Font-roboto32 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */
    letter-spacing: 0.05em;
}

@mixin Font-roboto28 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    letter-spacing: 0.05em;
}

@mixin Font-roboto22 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */
    letter-spacing: 0.05em;
}

@mixin Font-roboto18 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
}

@mixin hr-rule-set {
    height: 3px;
    background-color: $Dark-red;    
}